h1{
    color: white;
    background-color: greenyellow;
    font-size: 70px;
    text-align: center;
}

p{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}

button{
    background-color: greenyellow;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;

}

button:hover{
    background-color: greenyellow;
    color:black;
    font-size: 22px;

}